.not-found-page {
  min-height: 100%;

  article {
    font-family: $fontSecondary;
    max-width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 72px;
    font-weight: normal;
    margin: 0;

    color: $colorDark;

    text-shadow: 6px 6px 0 rgba($colorDark, 0.3);
  }

  p {
    line-height: 1.5;
  }

  nav {
    height: 48px;
    max-width: 100%;
    margin-top: 24px;
    background-color: #f6f6f6;

    display: grid;
    grid-template-columns: auto auto auto auto;

    a {
      text-align: center;
      line-height: 48px;
      padding: 0 20px;

      font-size: 14px;
      text-transform: uppercase;
      font-family: $fontSecondary;

      @include mobile {
        font-size: 12px;
        padding: 0;
      }

      &::after {
        content: '';

        position: absolute;
        top: 8px;
        bottom: 8px;
        right: 0.5px;

        width: 1px;

        background-color: $colorLight3;
      }

      &:last-of-type::after {
        display: none;
      }
    }
  }

}
