.about {
  min-height: 100%;

  header {
    position: relative;

    width: 100%;
    height: 280px;
    margin-top: 64px;

    @include mobile {
      height: 200px;
    }

    h1 {
      position: absolute;
      bottom: 24px;

      width: 100%;
      margin: 0;

      color: #fff;
      font-family: $fontSecondary;
      font-size: 26px;
      font-weight: 500;
      text-align: center;

      @include mobile {
        left: 50%;

        width: 250px;
        margin-left: -125px;

        font-size: 18px;
        line-height: 1.5;
      }
    }

    .color-overlay {
      background: linear-gradient(
        360deg,
        rgba($colorDark, 0.7) 0%,
        rgba($colorDark, 0) 100%
      );
    }
  }

  article {
    justify-content: center;

    display: flex;

    padding-bottom: 64px + 12px;

    @include mobile {
      padding-bottom: 64px + 12px + 56px + 36px;
    }

    .about-text {
      max-width: 580px;
      padding: 0 20px;

      color: $colorDark2;
      font-size: 24px;
      // font-weight: 300;
      line-height: 1.5;
      text-align: justify;

      @include mobile {
        font-size: 18px;
      }

      @include tablet {
        font-size: 20px;
      }
    }
  }

  .bottom-nav {
    position: absolute;
    width: 100%;
    bottom: 64px + 12px;
  }
}
