.home {
  height: 100%;
}

.home .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  overflow: hidden;

  .color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba($colorDark, 0.8);
    // background-color: rgba(#fff, 0.6);
  }

  video {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.home .centered-container {
  width: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logotype {
    margin-bottom: 32px;

    @include mobile {
      width: 194px;
    }

    @media (min-width: 600px) and (max-width: 1024px) {
      width: 220px;
    }

    @media (max-height: 500px) {
      margin-bottom: 24px;
    }

    @media (max-height: 360px) {
      width: 140px;
      margin-top: -32px;
      margin-bottom: 12px;
    }

    // * {
    //   fill: $colorDark;
    // }
  }

  button {
    position: relative;
    border-radius: 20px;

    @include mobile {
      // overflow: hidden;
      width: 48px;
      height: 48px;
      border-radius: 24px;

      .icon {
        margin-left: -5px;
        line-height: 48px;
      }

      span {
        display: none;
      }
    }
  }
}

.home .scroll-indicator {
  position: absolute;
  bottom: 20px;
  height: 68px;

  font-size: 18px;
  font-weight: 300;
  color: #fff;
  font-family: $fontSecondary;

  cursor: pointer;

  @media (max-height: 500px) {
    height: 50px;
  }

  .line {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 1.5px;
    height: 40px;

    transform: translate3d(-50%, 0, 0);

    background-color: rgba(#fff, 0.2);

    @media (max-height: 500px) {
      height: 26px;
    }

    .animated-line {
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: #fff;

      animation: scrollEdge 1.8s infinite;
      animation-timing-function: $easeSharp;
    }
  }
}

@keyframes scrollEdge{
  0% {
    transform: translate3d(0, -50%, 0) scaleY(0);
  }

  50% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  100% {
    transform: translate3d(0, 50%, 0) scaleY(0);
  }
}
