.home {
  height: 100%;
}

.home .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  overflow: hidden;

  .color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba($colorDark, 0.8);
    // background-color: rgba(#fff, 0.6);
  }

  video {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.home .centered-container {
  width: 306px;

  text-align: center;

  .logotype {
    margin-bottom: 32px;

    // * {
    //   fill: $colorDark;
    // }
  }

  button {
    position: relative;
    border-radius: 20px;
  }
}

.home .scroll-indicator {
  position: absolute;
  bottom: 20px;
  height: 68px;

  font-size: 18px;
  font-weight: 300;
  color: #fff;
  font-family: $fontSecondary;

  cursor: pointer;

  .line {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 1.5px;
    height: 40px;

    transform: translate3d(-50%, 0, 0);

    background-color: rgba(#fff, 0.2);

    .animated-line {
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: #fff;

      animation: scrollEdge 1.8s infinite;
      animation-timing-function: $easeSharp;
    }
  }
}

@keyframes scrollEdge{
  0% {
    transform: translate3d(0, -50%, 0) scaleY(0);
  }

  50% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  100% {
    transform: translate3d(0, 50%, 0) scaleY(0);
  }
}
