$hPadding: 36px;

.page-footer {
  position: absolute;
  bottom: 0;
  left: $hPadding;
  right: $hPadding;

  // font-family: $fontSecondary;

  height: 64px;
  color: rgba($colorDark, 0.8);
  font-size: 13px;

  border-top: 1px solid rgba($colorDark, 0.2);

  @include mobile {
    left: 24px;
    right: 24px;
  }

  > * {
    position: absolute;
    top: 16px;
  }

  .dev-credits {
    left: 0;
    font-weight: 300;

    @include mobile {
      top: 20px;
      font-size: 10px;
    }

    a {
      font-weight: 400;
    }
  }

  @include mobile {
    .footer-contact {
      display: none;
    }
  }

  .footer-social {
    right: 0;
    margin-top: -4px;
    margin-right: -4px;

    a {
      padding: 4px;
      opacity: 0.6;

      transition: $transitionEaseOutShort;

      &:hover {
        opacity: 1;
      }
    }

    .icon {
      @include rectSize(24px);
    }
  }
}
