.top-bar {
  background-color: #fff;

  transition: $transitionEaseOut;

  &.dark {
    background-color: transparent;
  }
}

.nav-logo {
  $hPadding: 12px;
  position: absolute;
  left: 24px - $hPadding;
  padding: 0 $hPadding;

  transition: $transitionEaseOutShort;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  @include mobile {
    .top-bar.dark & {
      opacity: 0;
      pointer-events: none;
    }

    .top-bar.mobile-menu-is-open & {
      opacity: 1;
      pointer-events: all;
    }
  }

  .icon {
    width: 34px;

    .top-bar.dark & {
      fill: #fff;
    }

    .top-bar.mobile-menu-is-open & {
      fill: $colorDark;
    }
  }
}

.top-bar-social-links {
  position: absolute;
  right: 24px - 5px;

  transition: opacity $transitionEaseOutShort;

  @include mobile {
    right: auto;
    left: 24px - 5px;

    .top-bar.light &,
    .top-bar.mobile-menu-is-open & {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include tablet {
    right: 12px - 5px;
  }

  a {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 8px;

    transition: opacity $transitionEaseOutShort;
    opacity: 0.8;

    @include mobile {
      margin-left: 0;
      margin-right: 12px;
    }

    @include tablet {
      margin-left: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .icon {
    @include rectSize(30px);

    .top-bar.dark & {
      fill: #fff;
    }
  }
}

.top-bar-nav {
  position: absolute;
  height: 100%;

  @include mobile {
    display: none;
  }

  a {
    position: relative;
    height: 100%;
    padding: 0 20px;

    @include tablet {
      padding: 0 10px
    }
  }

  .text {
    $height: 40px;
    height: $height;

    color: $colorDark;
    font-family: $fontSecondary;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: $height;

    border-bottom: 0px solid rgba($colorDark, 0);

    transition: border-bottom $transitionEaseOutShort;


    .top-bar.dark & {
      color: #fff;
    }

    span {
      transition: opacity $transitionEaseOutShort;
      opacity: 0.7;
    }
  }

  a:hover span {
    opacity: 1;
  }

  a.active .text {
    border-bottom: 2px solid rgba($colorDark, 0.3);
    pointer-events: none;

    span {
      opacity: 1;
    }
  }
}

/* mobile exclusive */
.menu-button {
  position: absolute;
  top: 0;
  right: 4px;

  .top-bar.dark & {
    transform: translate3d(0, 4px, 0);
  }
}
