$font: $fontPrimary;
$transition: $transitionEaseOut;
$color: $colorDark;
$color2: $colorDark;
$color1: $colorDark;
$bgColor: transparent;
$textColor: #000;
$errorColor: #ef5350;

.field-container {
  position: relative;
  float: left;
}

.input-wrapper {
  position: relative;

  width: 100%;
  float: left;
}

.text-field {
  position: relative;

  box-sizing: border-box;
  float: left;
  width: 100%;
  // height: 40px;
  padding: 10px 9px 8px;

  color: $textColor !important;
  font-family: $font;
  font-size: 16px;

  background-color: $bgColor !important;
  border: 1.2px solid rgba($color, 0.4);
  border-radius: 4px;
  outline: none;

  &:focus {
    border-color: rgba($color, 0.7);
  }

  &.invalid {
    border-color: $errorColor;
  }

  &.multiline {
    display: block;
    max-width: 100%;
    max-height: 84px;
    min-width: 100%;
    min-height: 84px;
    // padding-top: 26px;
    // padding-bottom: 2px;

    font-size: 14px;
    line-height: 1.38;

    resize: none;
  }
}

.floating-label {
  position: absolute;
  top: 10px;
  left: 8px;

  display: block;
  padding: 0 4px;
  max-width: calc(100% - 10px);
  overflow: hidden;

  color: rgba($color, 0.5);
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: #fff;

  transition: $transition;

  pointer-events: none;

  .text-field:focus ~ &,
  .field-container.not-empty & {
    top: -6px;
    left: 7px;

    font-size: 10px;

    pointer-events: all;
  }

  .text-field:focus ~ & {
    color: $color;
  }

  .field-container.invalid.not-empty & {
    color: $errorColor;
  }

  .multiline & {
    // right: 6px;

    // padding-top: 10px;
    padding-bottom: 2px;
    // padding-left: 2px;
    // margin-top: -10px;
    // margin-left: -2px;

    // background-color: $bgColor;
  }
}

.focus-bar {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 2px;

  background-color: $color2;

  transition: $transition;

  .text-field:focus ~ & {
    width: 100%;
  }
}

.validation-error {
  position: relative;
  float: left;

  padding: 0 4px;
  margin-top: 4px;

  color: $errorColor;
  font-size: 11.5px;
  font-weight: 600;
  line-height: 1.2;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:invalid {
  box-shadow: none !important;
}
