/* theme vars */

// fonts
$fontPrimary: 'Source Sans Pro', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

// colors
$colorDark: #42515A;
$colorDark2: shade(#42515A, 40);
$colorLight: #fff;
$colorLight2: #eceeee;
$colorLight3: #d9dcde;
